src/step_functions_definition.json
{
  "Comment": "Smart Healthcare pipeline orchestration: run the Bronze crawler, then the Bronze->Silver/Gold ETL job. Serverless automation (satisfies the project's automation requirement).",
  "StartAt": "StartBronzeCrawler",
  "States": {
    "StartBronzeCrawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "bronze-crawler"
      },
      "Next": "WaitForCrawler",
      "Catch": [
        {
          "ErrorEquals": ["Glue.CrawlerRunningException"],
          "Comment": "Crawler already running - just proceed to wait",
          "Next": "WaitForCrawler"
        }
      ]
    },
    "WaitForCrawler": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "CheckCrawlerStatus"
    },
    "CheckCrawlerStatus": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:getCrawler",
      "Parameters": {
        "Name": "bronze-crawler"
      },
      "Next": "IsCrawlerDone"
    },
    "IsCrawlerDone": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Crawler.State",
          "StringEquals": "READY",
          "Next": "RunETLJob"
        }
      ],
      "Default": "WaitForCrawler"
    },
    "RunETLJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "bronze-to-silver-gold-etl"
      },
      "End": true
    }
  }
}
